<!DOCTYPE html>
<html lang="FR-fr">

<head>
    <meta charset="utf-8">
    <title>Explorateur de fichier</title>
    <link rel="stylesheet" href="../src/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>

<body>

    <nav>
        <ul>
            <li class="logo">Les Codeur du Dimanche</li>
            <li class="btn"><span class="fas fa-bars"></span></li>
            <div class="items">
                <li><a href="#">Upload</a></li>
                <li><a href="#">New Item</a></li>
                <li>
                    <select>
                        <option name="pseudo" value="pseudo">Pseudo</option> <!-- Faire afficher le pseudo via BDD-->
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                </li>
            </div>
            <li class="search-icon">
                <input type="search" placeholder="Rechercher">
                <label class="icon">
                    <span class="fas fa-search" style="background: none;""></span>
                </label>
            </li>
        </ul>
    </nav>
</body>

</html>