<!DOCTYPE html>
<html lang="FR-fr">

<head>
    <meta charset="utf-8">
    <title>Explorateur de fichier</title>
    <link rel="stylesheet" href="../src/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>

<body>

    <nav>
        <ul>
            <li class="logo">nom</li>
                <li class="search-icon">
                    <input type="search" placeholder="Search">
                    <label class="icon">
                        <span class="fas fa-search"></span>
                    </label>
                </li>
            <li class="btn"><span class="fas fa-bars"></span></li>
            <div class="items">
                <li><a href="#">12</a></li>
                <li><a href="#">34</a></li>
                <li><a href="#">56</a></li>
                <li><a href="#">78</a></li>
            </div>
        </ul>
    </nav>
</body>

</html>