<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/src/style.css">
</head>
<body>

    <form class="box" action="login.html" method="POST">

        <!-- Crée un compte Admin + User et indiquer ici les logs -->
        <!-- <p>Admin : admin + admin <br>//<br> User : user + user</p>-->
        <p>Commentaire dans le code sources à modifier !</p>

        <h1>Connexion</h1>
        <!-- Changer le name pour la BDD -->
        <input type="text" name="" placeholder="Nom d'utilisateur">
        <input type="password" name="" placeholder="Mot de passe">
        <input type="submit" name="" value="Connexion">

    </form>
    
</body>
</html>