* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    color: #f2f2f2;
}

body, html {
    background-color: #202020;
}

.main-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* DEBUT DU CSS POUR LA NAVBAR */

nav {
    background: #292929;
    padding: 10px 40px 10px 70px;
    border-radius: 0 0 1px 1px;
    box-shadow: 0 0 1em rgb(255, 255, 255);
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: none;
}

nav ul li.logo {
    flex: 1;
    font-size: 30px;
    font-weight: 700;
    background: none;
}

nav ul div.items {
    padding: 0 25px;
    display: inline-flex;
    background: none;
}

nav ul div.items li {
    background: none;
}

nav ul div.items a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
    background: none;
}

nav ul div.items a:hover {
    color: rgb(126, 126, 126);
}

nav ul div.items select {
    text-decoration: none;
    border: none;
    font-size: 16.5px;
    padding: 0 12px;
    background: none;
}

nav ul div.items select:hover {
    color: rgb(126, 126, 126);
    cursor: pointer;
}

.deconnexion {
    color: red;
}

nav ul .search-icon {
    height: 40px;
    width: 240px;
    display: flex;
    border-radius: 5px;
}

nav ul .search-icon input {
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background: #e6e6e6;
}

nav ul .search-icon .icon:hover {
    background: #e6e6e6;
}

nav ul .search-icon .icon span {
    color: #222222;
    font-size: 18px;
}

nav ul li.btn {
    font-size: 29px;
    flex: 1;
    padding: 0 40px;
    display: none;
}

nav ul li.btn span {
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li.btn span.show:before {
    content: '\f00d';
}

@media screen and (max-width: 1052px) {
    nav {
        padding: 10px 40px 10px 0px;
    }
    nav ul li.logo {
        display: none;
    }
    nav ul div.items {
        flex: 4;
    }
}

@media screen and (max-width: 800px) {
    nav ul li.btn {
        display: block;
        background: none;
    }
    nav {
        z-index: 1;
        padding: 9px 40px 9px 0;
    }
    nav ul div.items {
        z-index: -1;
        position: fixed;
        top: -220px;
        right: 0;
        width: 100%;
        background: #222222;
        display: inline-block;
        transition: top .4s;
    }
    nav ul div.items.show {
        top: 60px;
    }
    nav ul div.items li {
        text-align: center;
        line-height: 30px;
        margin: 30px 0;
    }
    nav ul div.items li a {
        font-size: 19px;
    }
}

@media screen and (max-width: 405px) {
    nav ul {
        flex-wrap: nowrap;
    }
    nav ul li.search {
        width: 50vmin;
    }
    nav ul li input {
        width: 40vmin;
    }
    nav ul li .search-icon {
        width: 10vmin;
    }
}

/* FIN DU CSS POUR LA NAVBAR */

/* DEBUT DU CSS POUR LA PAGE LOGIN / INSCRIPTION */

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191919;
    text-align: center;
    box-shadow: 0 0 1em #2ecc71;
    transition: all 0.25s;
}

.box:hover {
    box-shadow: 0 0 1.5em #2ecc71;
}

.box h1 {
    color: white;
    background: none;
    text-transform: uppercase;
    padding: 30px;
    font-weight: 500;
}

.box input[type="text"], .box input[type="password"], .box input[type="email"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: all 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="email"]:focus {
    width: 250px;
    border-color: #2ecc71;
    font-size: 1em;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: all 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background-color: #2ecc71;
}

.box p {
    color: #3535356c;
    background: none;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 500;
    font-size: xx-small;
    transition: all 0.25s;
}

.box p:hover {
    color: white;
    background: none;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 500;
    font-size: large;
}

.signup, .signin {
    border: 0;
    width: 150px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    font-size: small;
    border: 2px solid #cc2e2e;
    margin-top: 40px;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: all 0.25s;
    cursor: pointer;
}

.signup:hover, .signin:hover {
    background-color: #cc2e2e;
}

/* FIN DU CSS POUR LA PAGE LOGIN / INSCRIPTION */

/* DEBUT DU CSS POUR EXPLORATEUR */

table {
    width: 75%;
    border-collapse: collapse;
    border: black solid 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #292929;
    box-shadow: 0 0 1em rgb(255, 255, 255);
}

td, th {
    padding: 0.7em;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    border: black solid 1px;
    box-shadow: 0 0 0.2em rgb(255, 255, 255);
}

th {
    border: none;
    font-size: large;
}

.icon{
    vertical-align: middle;
    padding-right: 5px;
}

/* FIN DU CSS POUR EXPLORATEUR */

/* DEBUT CSS POUR FOOTER */

footer {
    position: relative;
    min-height: 100%;
    text-align: center;
    background-color: #292929;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 0 1em rgb(255, 255, 255);
}

.card-header{
    padding-top: 5px;
}

.card-body, .card-title, .card-text, .btn, .btn-primary {
    padding: 5px;
}

/* FIN DU CSS POUR FOOTER */